<h1>Senpai Grill!</h1>

<img src="https://steamuserimages-a.akamaihd.net/ugc/923669269320710301/4F8FE11B651E04885AF562FCA1F3AE007CEEF293/" alt="Grill Senpai"/>

<h2 class="slogan">Are you man enough to take on the Senpai?!</h2>


<div class="container">
    <div class="row">
<div class="Ava column-md-6">
<h2>Try to Finish Me Senpai!</h2>
<ul>
  {{#each burger}}
    {{#unless devoured}}
    <p><strong> {{this.id}} - {{this.burger_name}}</strong></p>
    <button type="button" class="Eat" data-id="{{this.id}}" data-devoured="{{this.devoured}}">Eat Me Senpai!</button>
      {{!-- {{> burgers/burger/block devoured=true}} --}}
    {{/unless}}
  {{/each}}
</ul>

</div>
</div>
</div>

<div class="container">
    <div class="row">
<div class="Koh column-md-6">
<h2>Kohai's Devoured It!</h2>
<ul>
  {{#each burger}}
    {{#if devoured}}
    <p><strong>{{this.id}} - {{this.burger_name}}</strong></p>
    <button type="button" class="Throw" data-id="{{this.id}}" data-devoured="{{this.devoured}}">Throw Me Back Up Kohai!</button>
    <button type="button" class="Trash" data-id="{{this.id}}" data-devoured="{{this.devoured}}">Or Poop Me Out!</button>
    {{!-- {{> burgers/burger/block devoured=true}} --}}
    {{/if}}
  {{/each}}
</ul>

</div>
</div>
</div>

<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>
{{!-- 
  <div class="form-group">
    <label for="sleepy">Devoured?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Devoured!<br>
    <input type="radio" name="sleepy" value="0"> Available
  </div> --}}

  <button id="submit" type="submit">Add Burger</button>
</form>


      <script>
	      $(".Eat").on("click", function(event) {
           event.preventDefault();
            let devouredIt = {
              devoured: 1
            };

          $.ajax({
            url: '/api/burgers/' + $(this).data('id'),
            method: "PUT",
            data: devouredIt
          }).then(function() {
            console.log("Burger devoured");
            location.reload();
          });
  		  });


         $(".Throw").on("click", function(event) {
           event.preventDefault();
            let devouredIt = {
              devoured: 0
            };

          $.ajax({
            url: '/api/burgers/' + $(this).data('id'),
            method: "PUT",
            data: devouredIt
          }).then(function() {
            console.log("Burger devoured");
            location.reload();
          });
  		  });

        $("#submit").on("click", function(event) {
           event.preventDefault();
           let newBurgerName = $("#ca").val();
            let newBurger = {
              burger_name: newBurgerName,
              devoured: 0
            };

          $.ajax({
            url: '/api/burgers/',
            method: "POST",
            data: newBurger
          }).then(function() {
            console.log("Burger devoured");
            location.reload();
          });
  		  });

             $(".Trash").on("click", function(event) {
           event.preventDefault();
           let newBurgerName = $("#ca").val();
      

          $.ajax({
            url: '/api/burgers/',
            method: "DELETE",

          }).then(function() {
            console.log("Burger devoured");
            location.reload();
          });
  		  });
      </script>
